@font-face {    
 font-family: 'Guardian Sans';     
 src: url(https://static1.squarespace.com/static/5fc76e1543c5ee75bf2c2e03/t/601635018a0ee660266a497b/1612068098104/Guardian+Sans-Bold.otf);
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'Guardian Sans';
 src: url(https://static1.squarespace.com/static/5fc76e1543c5ee75bf2c2e03/t/5ff95df7401066645eab47fb/1610178039855/GuardianSans-Light.otf);
 font-weight: normal;
 font-style: normal;
}

@font-face {    
 font-family: 'Guardian Sans Text'; 
 src: url(https://static1.squarespace.com/static/5fc76e1543c5ee75bf2c2e03/t/5fc85621a9f67830caf7d62e/1606964770595/GuardianTextSans-Regular.otf);
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Guardian Sans Text';
 src: url(https://static1.squarespace.com/static/5fc76e1543c5ee75bf2c2e03/t/5ff96029ebaf65085bf134e8/1610178601921/GuardianTextSans-Bold.otf);
 font-weight: bold;
 font-style: normal;
}

body {
  background-color: hsl(330, 0%, 14%) !important;
}

p, a, time, label, input, body, legend, .lightbox-close, .site-wrapper.sqs-catalog, .blog-meta-item span, .field-element {
   font-family: Guardian Sans Text !important;
   font-feature-settings: 'ss01' !important;
   color: white !important;
}

h1, h2, h3, h4, .header-menu-nav-item, .form-title, .blog-title a {
  font-family: Guardian Sans !important;
  font-feature-settings: 'ss01' !important;
  color: white !important;
}

.sqs-editable-button {
  font-family: Guardian Sans Text !important;
  font-feature-settings: 'ss01' !important;
}

.form-title {
 font-weight: bold !important;
}

a.sqs-block-button-element--large.sqs-block-button-element:hover {
    color: #363636 !important;
}

.lightbox-content {
    background: #171717 !important;
}

.field-element {
  font-size: calc(1.1 * 1rem) !important;
}

.caption p {
  font-size: calc(0.9 * 1rem) !important !important;
}

.sqs-block-form.field-list.caption {
  font-size: calc(0.9 * 1rem) !important;
}

footer a {
 background-image: none !important;
}

footer label {
 color: #969696 !important;
}

footer input {
 background: transparent !important;
 color: #969696 !important;
 border-color: #969696 !important;
}

footer form div.field-list {
 float: left !important;
 width: calc(100% - 90px) !important;
}

footer form div.form-button-wrapper {
 width: 82px !important;
 float: left !important;
 padding-top: 8px !important;
 padding-left: 8px !important;
}

.gallery-section .gallery-caption p {
  text-align: center;
}

.form-wrapper .field-list .field .field-element, .form-wrapper .field-list .field .field-element:focus {
  background-color: rgba(0,0,0,0);
  color: white;
  border-color: #808080;
  border-width: 0 0 1.5px 0;
  border-radius: 0;
  padding: 5px 0 5px 0;
  outline-color: rgba(0,0,0,0);
}

.header .header-nav-wrapper a {
  padding: 5px 0 5px 0;
}

.header-nav-item--active a {
  background-size: 1px 0px !important;
  /*border-bottom: white 2px solid;
  border-radius: 0px !important;*/
}

.header-nav-list {
  background-color: #171717;
  padding: 0 20px 0 20px;
}

.header-nav-folder-content {
  text-align: left !important;
  padding: 10px 10px 10px 10px !important;
}

.header .header-layout-nav-right .header-nav .header-nav-item--folder .header-nav-folder-content {
  left: -1em !important;
}

#header.shrink {
  background-color: rgba(0,0,0,0);
}

.gallery-slideshow-item img, .gallery-grid-item img, .lightbox-content, .blog-image-wrapper img, .gallery-masonry-item img, .header-nav-list, .header-nav-folder-content, 
.image-wrapper, .preFlex, .flexIn, .sqs-block-image img {
  border-radius: 7px !important;
}

@media only screen and (min-width: 800px) {
.slideshow-text {
    width: 50%;
    min-height: 50vh !important;
    align-items: center;  
    float: left;
}
.gallery-slideshow {
    height: 50vh !important;
 }
.slideshow-text + section {
  width: 50%;
  min-height: 50vh !important;
  align-items: center;
  }
}

.gallery-masonry-item-wrapper {
   position: relative !important;
}

.gallery-masonry-item-wrapper img {
   z-index: 1 !important;
}

.gallery-reel-item {
   cursor: default;
}

.img-darken {
   filter: brightness(60%);
   transition: filter .5s 0ms;
}
.img-brighten {
   filter: brightness (100%);
   transition: filter .5s 0ms;
}
#collection-5ff7a6e048de2d43d54f5491 .gallery-caption-wrapper, .gallery-masonry-image-link .gallery-caption-wrapper {
   position: absolute !important;
   top: calc(50% - 1.35rem) !important;
   height: 100% !important;
   z-index: 10000 !important;
}
.caption-reveal {
   opacity: 100% !important;
   transition: opacity .5s 0ms !important;
}
#collection-5ff7a6e048de2d43d54f5491 .gallery-caption-wrapper p, .gallery-masonry-image-link .gallery-caption-wrapper p {
   font-size: 1.35rem !important;
   font-family: Guardian Sans !important;
   opacity: 0%;
   transition: opacity .5s 0ms !important;
   font-weight: bold !important;
   line-height: 1.1 !important;
   text-align: center !important;
}


  .newsletter-block .newsletter-form-wrapper {
    padding: 0;
    background: none;
  }
  @media only screen and (min-width:820px) {
    .newsletter-block .newsletter-form {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      -webkit-align-items: center;
    }
    .newsletter-block .newsletter-form-header {
      flex: 2;
      -webkit-flex: 2;
      text-align: left;
    }
    .newsletter-block .newsletter-form-header-title, .newsletter-block .newsletter-form-header-description p {
      text-align: left;
    }
    .newsletter-block .newsletter-form-header-description p {
      margin: 10px 0 0;
    }
    .newsletter-block .newsletter-form-header-title {
      font-size: 25px;
      margin-bottom: 0;
    }
    .newsletter-block .newsletter-form-body {
      flex: 3;
      -webkit-flex: 3;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
    }
    .newsletter-block .newsletter-form-fields-wrapper {
      flex: 2;
      -webkit-flex: 2;
    }
    .newsletter-block .newsletter-form-field-wrapper {
      width: 95%;
    }
  }

///@media only screen and (min-width: 641px){
 #collection-5fc80254473a3b56d49bf143 {
  #page .page-section:nth-of-type(4) {
   width: 50%; min-height: 80vh;  align-items: center;  float: left;
  }
  #page .page-section:nth-of-type(5) {
   width: 50%;  min-height: 80vh;  align-items: center;
  }  }  }
