/* change */

@font-face {    
font-family: 'Guardian Sans';       
src: url(https://static1.squarespace.com/static/5fc76e1543c5ee75bf2c2e03/t/5fc85767ee804a17a1ce71f9/1606965096728/GuardianSans-Semibold.otf); }

@font-face {    
font-family: 'Guardian Sans Text';       
src: url(https://static1.squarespace.com/static/5fc76e1543c5ee75bf2c2e03/t/5fc85621a9f67830caf7d62e/1606964770595/GuardianTextSans-Regular.otf); }
 
body {
  background-color: hsl(330, 0%, 14%);
}

p, a, time, label, input {
   font-family: Guardian Sans Text !important;
   font-feature-settings: 'ss01' !important;
}

h1, h2, h3, h4, .header-menu-nav-item, .blog-side-by-side a {
  font-family: Guardian Sans !important;
  font-feature-settings: 'ss01' !important;
}

/* p, body, .header-nav-item, .user-accounts-text-link, .cart-text-link, .sqs-block-form .field-list .title, .sqs-block-button-element, body:not(.button-style-default) .sqs-block-form .sqs-editable-button, .sqs-block-form .field-list .caption, .sqs-block-form .field-list .option, .form-wrapper .field-list .field .field-element, .blog-masonry .blog-categories, .blog-masonry .blog-author, .blog-masonry .blog-date, .blog-masonry .blog-excerpt, .blog-masonry .blog-more-link, .blog-item-wrapper .blog-meta-item, .blog-item-wrapper .blog-meta-item a, .blog-item-wrapper .blog-meta-item span, .blog-item-wrapper .item-pagination-prev-next, .gallery-section .gallery-caption p, .blog-side-by-side, p {
  font-family: Guardian Sans Text !important;
  font-feature-settings: 'ss01'; 
}*/

footer a {
 background-image: none !important;
}

footer label, footer svg {
 color: #969696 !important;
}

.gallery-section .gallery-caption p {
  text-align: center;
}

.form-wrapper .field-list .field .field-element, .form-wrapper .field-list .field .field-element:focus {
  background-color: rgba(0,0,0,0);
  color: white;
  border-color: #808080;
  border-width: 0 0 1.5px 0;
  border-radius: 0;
  padding: 5px 0 5px 0;
  outline-color: rgba(0,0,0,0);
}

.header .header-nav-wrapper a {
  padding: 5px 0 5px 0;
}

.header-nav-item--active a {
  background-size: 1px 0px !important;
  /*border-bottom: white 2px solid;
  border-radius: 0px !important;*/
}

.header-nav-list {
  background-color: #171717;
  padding: 0 20px 0 20px;
}

.header-nav-folder-content {
  padding: 0 10px 0 10px !important;
}

#header.shrink {
  background-color: rgba(0,0,0,0);
}

.gallery-slideshow-item img, .gallery-grid-item img, .blog-image-wrapper img, .gallery-masonry-item img, .header-nav-list, .header-nav-folder-content, 
.image-wrapper, .preFlex, .flexIn, .sqs-block-image img {
  border-radius: 5px !important;
}

@media only screen and (min-width: 800px) {
.slideshow-text {
    width: 50%;
    min-height: 50vh !important;
    align-items: center;  
    float: left;
}
.gallery-slideshow {
    height: 50vh !important;
 }
.slideshow-text + section {
  width: 50%;
  min-height: 50vh !important;
  align-items: center;
  }
}

///@media only screen and (min-width: 641px){
 #collection-5fc80254473a3b56d49bf143 {
  #page .page-section:nth-of-type(4) {
   width: 50%; min-height: 80vh;  align-items: center;  float: left;
  }
  #page .page-section:nth-of-type(5) {
   width: 50%;  min-height: 80vh;  align-items: center;
  }  }  }
